<div class="container d-flex pt-5 justify-content-center"><h1>Enter Candidate Details</h1></div>
<div class="container d-flex pt-4 justify-content-center">
        <form action="#!/dashboard" name="detailsform">
            
            <label for="">Enter Candidate Status:</label>
            <input type="text" name="status" placeholder="Enter Status" ng-model="status" required>

            <label for="">Date Reviewed:</label>
            <input type="text" name="date" placeholder="Enter Reviewed Date" ng-model="date" required>

            <input 
                type="submit" 
                value="Submit"
                ng-disabled="detailsform.status.$invalid || detailsform.date.$invalid">

            <p>Status Value : {{status}}</p>

        </form>
</div>